@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

img{
  display: block;
  max-width: 100%;
}


/* CONTAINER BACKGROUND */
.container-bg{
  background-color: #EDFBFE;
  background-image: url('../assets/images/bg-hero-desktop.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* === HEADER === */
header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.header-logo, nav{
  margin: 0 10px;
}

nav{
  justify-self: end;
}

.nav-button{
  width: 150px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #fff;
  font-weight: bold;
  box-shadow: 1px 3px 9px -2px #ccc;
  outline: none;
}


/* === BANNER === */
.banner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

.banner-into, .banner-principal{
  margin: 0 10px;
}

.banner-into h1{
  font-size: 35px;
  margin-bottom: 20px;
}

.banner-into p{
  max-width: 460px;
  margin-bottom: 20px;
}

.banner-into button{
  width: 250px;
  padding: 15px;
  margin: 20px 0;
  border: none;
  border-radius: 40px;
  color: #fff;
  font-weight: bold;
  background: #FB53C2;
  cursor: pointer;
}

@media(max-width: 850px){
  .banner{
    grid-template-columns: 1fr;
  }

  .banner-into{
    display: grid;
    justify-items: center;
  }

  .banner-into p{
    text-align: center;
  }
}


/* === TOGETHER === */

/* .together{
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  box-shadow: 1px 3px 9px -2px #ccc;
  border-radius: 10px;
  padding: 70px;
}

.together-into{
  flex: 1 1 260px;
}

.together-into p{
  width: 450px;
} */



/* .together-img img{
  height: 300px;
} */




/* === MOBILE === */
