@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}

img{
  display: block;
  max-width: 100%;
}


/* CONTAINER BACKGROUND */
.container-bg{
  background-color: #EDFBFE;
  background-image: url('../assets/images/bg-hero-desktop.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* === HEADER === */
header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.header-logo, nav{
  margin: 0 10px;
}

nav{
  justify-self: end;
}

.nav-button{
  width: 150px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #fff;
  font-weight: bold;
  box-shadow: 1px 3px 9px -2px #ccc;
  outline: none;
}


/* === BANNER === */
.banner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

.banner-into, .banner-principal{
  margin: 0 10px;
}

.banner-into h1{
  font-size: 35px;
  margin-bottom: 20px;
}

@media(max-width: 400px){
  .banner-into h1{
    font-size: 25px;
    text-align: center;
  }
}

.banner-into p{
  max-width: 460px;
  margin-bottom: 20px;
}

.banner-into button{
  width: 250px;
  padding: 15px;
  margin: 20px 0;
  border: none;
  border-radius: 40px;
  color: #fff;
  font-weight: bold;
  background: #FB53C2;
  cursor: pointer;
}

@media(max-width: 850px){
  .banner{
    grid-template-columns: 1fr;
  }

  .banner-into{
    display: grid;
    justify-items: center;
  }

  .banner-into p{
    text-align: center;
  }
}

/* === SECTION CONTEUDO === */
section.conteudo{
  padding: 100px 20px;
}

/* === TOGETHER === */

.together{
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 400px;
  align-items: center;
  margin: 0px auto 40px;
  padding: 30px 80px;
  box-shadow: 1px 3px 9px -2px #ccc;
  border-radius: 10px;
}

.together-into h1{
  margin-bottom: 20px;
}

.together-into p{
  color: #7c7c7c;
  max-width: 450px;
}

@media(max-width: 768px){
  .together{
    display: grid;
    grid-template-columns: 1fr;
  }

  .together-into{
    justify-self: center;
    text-align: center;
    margin-top: 20px;
  }

  .together-img{
    grid-row: 1;
  }
}

@media(max-width: 475px){
  .together{
    padding: 30px 10px;
  }
}

/* === FLOWING === */
.flowing{
  max-width: 1200px;
  display: grid;
  grid-template-columns: 400px 1fr;
  align-items: center;
  margin: 0px auto 40px;
  padding: 30px 80px;
  box-shadow: 1px 3px 9px -2px #ccc;
  border-radius: 10px;
}

.flowing-into{
  margin-left: 15px;  
  max-width: 450px;
  justify-self: end;
}

.flowing-into h1{
  margin-bottom: 20px;
}

.flowing-into p{
  color: #7c7c7c;
}

@media(max-width: 768px){
  .flowing{
    display: grid;
    grid-template-columns: 1fr;
  }

  .flowing-into{
    margin-top: 20px;
    justify-self: center;
    text-align: center;
  }
}

@media(max-width: 475px){
  .flowing{
    padding: 30px 10px;
  }
}

/* === YOUR USERS === */
.your-users{
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 400px;
  align-items: center;
  margin: 0px auto 40px;
  padding: 30px 80px;
  box-shadow: 1px 3px 9px -2px #ccc;
  border-radius: 10px;
}

.your-users h1{
  margin-bottom: 20px;
}

.your-users p{
  color: #7c7c7c;
  max-width: 450px;
}

@media(max-width: 768px){
  .your-users{
    display: grid;
    grid-template-columns: 1fr;
  }

  .your-users-into{
    justify-self: center;
    text-align: center;
    margin-top: 20px;
  }

  .your-users-img{
    grid-row: 1;
  }
}

@media(max-width: 475px){
  .your-users{
    padding: 30px 10px;
  }
}
